#map {
	height: 700px;
	margin-top: 5%;
}
#injection {
	margin-top: 5%;
	overflow: auto;
	margin-bottom: 5%;
	min-height: 90%;
	position: fixed;
	display: block;
}
html,body {
	min-height: 100%;
	height: 100%;
	margin: 0;
}
body{
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #F16B6F;
}

/* navigation style*/
#navigation {
	background-color: #F6B352;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom: 0;
	font-size: 16px;
	color: #1F2124;
	opacity: 50%;	
}

.nav-text {
	color: white;
}

.nav-text:hover, .nav-text:focus {
	color: white;
}
