/* map styling*/
#map {
	height: 50em;
	margin-top: 1em;
	margin-bottom: 0;
}

/* head styling*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}


/* body styling*/
html,body {
	min-height: 100%;
	height: 100%;
	margin: 0;
}


/* footer style*/
.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6em;
  background-color: #F0E5DE;
}


/* navigation style*/
#navigation {
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: blueviolet;
	display: inline-block;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom: 1em;
	font-size: 16px;
	color: #1F2124;
	opacity: 50%;	
}

.nav-text {
	color: white;
	font-variant: small-caps;
}

.nav-text:hover, .nav-text:focus {
	color: black; 
	background-color: darkgray; 
	text-decoration: none;
}



/* main */
main {
	padding-top: 4em;
	padding-bottom: 4em;
}

#call a {
	color: black
}



/* CSS code to make responsive and good styling button on the home page */
.responsive-width {
    font-size: 1.5vw;
}

.btn-danger-outline {
    position: relative;
    background-color: blueviolet;
    border: none;
    color: white;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn-danger-outline:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btn-danger-outline:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.crime{
	color: red;
}




/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

}